<%= form_with model: post , name: 'my_form', id: "form1" do |form| %>
  
  
  <div>
    <%= form.label :title, class:"form-label"%><br>
    <%= form.text_field :title, class:"form-text",placeholder:"Give title to your Blog " %>
      <div class="title-error"></div>

    <% post.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div >
    <%= form.label :body, class:"form-label"%><br>
    <%= form.text_area :body, class:"form-text-body",placeholder:"Write your Blog..."%><br>
      <div class="body-error"></div>

    <% post.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="new-bottom">

   <br>

   <div class="image-category">

    <%= form.file_field :image, class:"image-field "%>

    <% post.errors.full_messages_for(:image).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

    <div class="image-error"></div>
    <br>
    <%= form.select :category_id, options_for_select(Category.all.map { |category| [category.name, category.id] }), {prompt: "Select category"}, class:"form-control category-dropdown " %>
    <br>
    <br>
    <%= form.submit "Add tag", 
          formaction: nested_form_path(@post.nested_forms.size), 
          formmethod: :post, 
          formnovalidate: true, 
          id: "add-tag"%>
    <div id="nested_forms">
      <%= form.fields_for :nested_forms do |task_form| %>
        <%= render "nested_forms/form", form: task_form %>
      <% end %>
    </div>

     <div>
         <%= form.submit 'Submit', class:"submit-button"%>
    </div>

  </div>

<% end %>